
<!DOCTYPE html>
<html lang="kr">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>SLiPP Java Web Programming</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/styles.css" rel="stylesheet">
</head>

<body>

{{>include/navagation}}

<!-- 로그인 여부 -->

			   

	<div class="container" id="main">
		<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
			<div class="panel panel-default qna-list">
				<ul class="list">
				
				<!-- 게시판 글 리스트 -->
					{{#question}}
					<li>
						<div class="wrap">
							<div class="main">
								<strong class="subject"> <a href="/questions/{{id}}">{{title}}</a>

								</strong>

								<div class="auth-info">
									<i class="icon-add-comment"></i> <span class="time">{{formatCreateDate}}</span>

									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-person-fill"
										viewBox="0 0 16 16">
  <path
											d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
</svg>

									<a href="/user/profile.html" class="author">{{#writer.userId}}{{writer.userId}}{{/writer.userId}}

										{{^writer.userId}}N{{/writer.userId}} </a>
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
  <path
											d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
</svg>
									{{view}}


								</div>
								<div class="reply" title="댓글">
									<i class="icon-reply"></i>
									
								</div>
							</div>
						</div>
					</li>
					<li>{{/question}}
					
					<!-- 게시판 글 리스트 끝 -->


                        <!-- 글쓰기 -->
						<form class="submit-write" method="get" action="/questions/form">

							<input type="submit" class="btn btn-success pull-right"
								value="글쓰기">

							<div class="clearfix" />

						</form> 
						
						
						<!-- 페이징 시작 -->

						<nav style="text-align: center;">
							<ul class="pagination">
                               
                               <!-- 이전 페이지 -->
								<li>
								{{#hasPrev}} 
								<a href="?keyword={{keyword}}&page={{previous}}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
								
								</a> 
								
								{{/hasPrev}}
								  <!-- 이전 페이지 -->
								  
							    <!-- 이전 페이지 없을때-->
								 {{^hasPrev}}
								 
								 
								  {{/hasPrev}}
								    <!-- 이전 페이지 없을때-->
								  
								</li>

								<li>
								   <!-- 다음 페이지 -->
								{{#hasNext}}
								
								 <a	href="?keyword={{keyword}}&page={{next}}" aria-label="Next"> 
								 <span aria-hidden="true">&raquo;</span>
								</a> 
								
								{{ /hasNext}} 
								 <!-- 다음 페이지 -->
								 
							<!-- 다음 페이지 없을때-->
								{{^hasNext}} 
								
								
								{{ /hasNext}}
                             <!-- 다음 페이지 없을때-->

								</li>

							</ul>
	                  <!-- 페이징 끝 -->
						</nav> <!-- script references --> 
						<script src="js/jquery-2.2.0.min.js"></script>
						<script src="js/bootstrap.min.js"></script> 
						<script src="js/scripts.js"></script>
</body>
</html>